
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
    --btn-color1: #4F2EE8;
    --main-bg: #F6F6F6;
    --cat-text-color: #EAC645;
    --text-color-gray: #B4AFAF;
    --all-cat-text: #EAC645;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --footer-hover-color: #856cf5;
    --footer-border-color: #555;
}

[data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
    --btn-color1: #4F2EE8;
    --main-bg: #202024;
    --cat-text-color: #4F2EE8;
    --text-color-gray: #5a5757;
    --all-cat-text: #4F2EE8;
    --footer-bg-color: #333;
    --footer-text-color: #0a0a0a;
    --footer-hover-color: #856cf5;
    --footer-border-color: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
    /* max-width: 1724px; */


}

html {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--bg-color);
    height: 5rem;
    padding: 0px 20px;
 
}
  
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

 .left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }        
.content{
    display: flex;
    gap: 2rem;
    
}  
#search-btn1{
    width: 8rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: solid 1px #FCA310;
    font-size: 22px;
}  
#search-btn1:hover{
    cursor: pointer;
    background-color: #4F2EE8;
    color: white;
}
   .checkbox {

    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #4F2EE8;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    color: #eecd4a;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}
main {
    max-width: 100%;
    height: 100vh;
    color: var(--text-color-gray);
    background-color: var(--main-bg);
    overflow: hidden; /* Ensure no horizontal scrolling */
}

.hero{
    height: 60%;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    /* flex-direction: column; */
    
}
.hero-item{
    width: 30%;
    height: 60%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 1rem;

}
.hero-item h2{
    font-size: 32px;
}
/* .item-titile{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.item-titile p {
    padding: 10px;
}
.imggtrend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
#img1{
    
    margin-left: 4rem;
}
#img2{
    margin-left: 9rem;
}
#img1,#img2,#img3{
    height: 3rem;
    width: 12rem;
}
#imgadmin{
  margin-top: 5rem;
  margin-left: 2rem;
  height: 40rem;
  width: 20rem;
}
/* #img3{
    margin-bottom: 5rem;
}*/

.top-coins {
    text-align: center;
}

.coins-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2.5rem;
    animation: slide 30s linear infinite alternate;
    width: 150%; 
    position: relative;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.top-coin {
    height: 5rem;
    min-width: 20rem;
    background-color: #856cf5;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.top-coin h1{
    text-decoration: underline;
    font-size: 40px;

}
.topcoinsTitle{
    color:var(--text-color);

}
.top-coin img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.coin-info {
    display: flex;
    flex-direction: column;
}

.coin-info h4 {
    color: var(--text-color);
    margin: 0;
    font-size: 16px;
}

.coin-info p {
    color: var(--text-color);
    margin: 5px 0 0 0;
    font-size: 14px;
}

footer { 
    border-top: 1px solid var(--text-color);
    height: 10vh;
    color: var(--text-color);
    padding: 05px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--footer-hover-color);
}
.footer-bottom p {
    margin: 0;
    color: var(--text-color);
    padding: 10px;
}

.header-div {
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 20px;
}

.title-heading {
    margin-bottom: 10px;
}

.search-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
}

/* Search Results Container */
.search-results-container {
    margin-top: 20px;
    padding: 20px;
}

.search-coin-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-row-number {
    width: 50px;
    text-align: center;
}

.search-coin-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-coin-name {
    flex: 1;
    font-size: 1.2em;
    margin-right: 10px;
}

.search-coin-price {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.search-more-info-button {
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.search-more-info-button:hover {
    background-color: #218838;
}
/* Coin Details */
.coin-details {
    margin-top: 5rem;
    padding: 20px;
    text-align: center;
}

.coin-details-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.coin-details-name {
    font-size: 2em;
    margin-bottom: 20px;
}

.coin-details-description {
    text-align: left;
    margin-bottom: 20px;
}

/* Chart Container */
.chart-container {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

/* Center the canvas */
.chart-container canvas {
    display: block;
    width: 100%;
    height: 20%;
}
